[Unit]
Description=Set datadog api key
After=network.target
Before=datadog-agent.service

[Service]
EnvironmentFile=/.jelenv
ExecStart=/usr/bin/sed "s/^\(api_key: \).*/\1${DD_API_KEY}/" -i /etc/datadog-agent/datadog.yaml
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
